<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ekgc.mybatisdemo.dao.StudentMapper">
    <insert id="save" parameterType="cn.ekgc.mybatisdemo.entity.Student">
        insert into td_student(name,age,gender) values (
        #{name},
        #{age},
        #{gender}
        )
    </insert>

    <select id="list" resultType="cn.ekgc.mybatisdemo.entity.Student">
        select * from td_student;
    </select>
</mapper>








